Options -Indexes
DirectoryIndex public/api/index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(?:app|\.git|docs)(?:/|$) - [F,L]
    RewriteRule ^(?:\.env|\.gitignore)$ - [F,L]

    RewriteRule ^.*$ public/api/index.php [QSA,L]
</IfModule>
